.footer-wrapper {
    padding: 70px 0 120px;
    border-top: 1px solid var(--color-services-border);
    background: #212121;
    display: grid;
    place-items: center;
    color: var(--color-white-text);

    a {
        color: var(--color-white-text);
    }

    .footer-content {
        .about {
            padding-bottom: 34px;
            display: flex;
            gap: 114px;

            .requisites {
                &__logo {
                    margin-bottom: 46px;
                    max-width: 230px;
                    max-height: 70px;
                }

                &__title {
                    padding-bottom: 34px;
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                }

                .bank-cards {
                    max-width: 230px;
                    display: flex;
                    flex-wrap: wrap;

                    &__logo {
                        margin-bottom: 30px;
                    }

                    &__logo:first-child {
                        margin-right: 28px;
                        max-width: 80px;
                        max-height: 40px;
                    }

                    &__logo:nth-child(2) {
                        max-width: 122px;
                        max-height: 40px;
                    }

                    &__logo:last-child {
                        max-width: 230px;
                        max-height: 26px;
                    }

                }
            }

            .company-info {
                &__title {
                    padding-bottom: 30px;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 2.6rem;
                }
            }

            .services {
                &__title {
                    padding-bottom: 22px;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }

            .promotions {
                &__title {
                    padding-bottom: 22px;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }

            .requisites,
            .company-info,
            .services,
            .promotions {
                display: flex;
                flex-direction: column;
            }

            .about-line {
                margin-bottom: 22px;
                min-width: 262px;
                border: 1px solid #ECECEC;
            }

            .about-link {
                padding-bottom: 16px;
                font-size: 1.8rem;
                line-height: 2.6rem;
                color: #fff;
            }
        }

        .contacts {
            margin: 0 auto;
            padding-bottom: 60px;
            max-width: 810px;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.6rem;

            .mailing-address {
                display: flex;
                align-items: center;

                &__logo {
                    padding-right: 20px;
                }

                &__title {
                    margin-right: 30px;
                    max-width: 326px;
                    font-style: normal;
                }
            }
            
            &__mail-logo,
            &__phone-logo {
                padding-right: 22px;
            }

            &__email {
                padding-right: 40px;
            }

            &__phone-number {
                min-width: 144px;
            }
        }

        .documents {
            margin: 0 auto;
            max-width: 760px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            &__link {
                padding: 20px 40px;
                border: 1px solid #ECECEC;
                border-radius: 4px;
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }
}