.mitla-wrapper {
    margin: 0 auto;
    border: none;
}

.order-wrapper {
    margin-bottom: 134px;
    padding: 216px 0 300px;
    height: 820px;
    background: url("../public/assets/raster/cleaning.jpg") center center no-repeat;

    .bid-wrap {
        text-align: center;

        .title-text:first-child {
            padding-bottom: 32px;
        }

        .title-text:nth-child(2) {
            padding-bottom: 56px;
        }

        .calculation {
            display: grid;
            grid-template-columns: repeat(2, 1fr) minmax(250px, 340px);
            background: #FFFFFF;
            border-radius: 8px;

            .rooms,
            .bathrooms {
                padding: 40px 26px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__title {
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.2rem;
                }
            }

            &__get-price-action {
                padding: 40px;
                background: #F25E57;
                border-radius: 8px;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.2rem;
                color: #fff;
            }
        }
    }
}